<nav class="navbar">
  <div class="left">
    <div class="logo">ChatApp</div>

    <div class="search-box">
      <input 
        type="text" 
        placeholder="Search username..."
        [(ngModel)]="query"
        (input)="search()"
      />

      <div class="search-results" *ngIf="results.length">
        <div *ngFor="let user of results" (click)="openChat(user)">
          {{ user.username }}
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="profile">
      <img [src]="me.photoUrl">
      <span (click)="isProfileMenuOpen = !isProfileMenuOpen">{{ username }}</span>
      <div class="profile-dropdown" *ngIf="isProfileMenuOpen">
        <div class="menu-item" (click)="navigate()">Profile</div> <div class="menu-item">Settings</div> <div class="divider"></div>
        <div class="menu-item logout" (click)="logout()">Logout</div>
      </div>
    </div>
  </div>
</nav>
