.app {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

.sidebar {
  width: 320px;
  background: #f0f2f5;
  border-right: 1px solid #ddd;
}

.sidebar-header {
  padding: 15px;
  font-weight: bold;
  background: #ededed;
}

.chat-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.chat-item.active { background: #e9edef; }

.chat-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-info { margin-left: 10px; }

.chat-info .name { font-weight: bold; }

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #ededed;
}

.chat-header img {
  width: 40px;
  height: 40px ;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-body {
  flex: 1;
  padding: 15px;
  background: #e5ddd5;
  overflow-y: auto;
}

.msg { display: flex; margin-bottom: 8px; }

.msg.me { justify-content: flex-end; }

.bubble {
  background: white;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 60%;
}

.msg.me .bubble { background: #dcf8c6; }

.bubble span {
  display: block;
  font-size: 10px;
  text-align: right;
  color: #666;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  padding: 8px;
}

.chat-input button {
  margin-left: 10px;
  padding: 8px 14px;
  background: #008069;
  color: white;
  border: none;
  cursor: pointer;
}
.typing{
  background-color: #e5ddd5;
}
p{
  color: grey;
  font-size: 16px;
  margin-left: 10px;
  
  }