.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
}
.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
